<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HumeApp_V1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>161A1C3D1F7DB5A800362AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161A1C511F7DB5A800362AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161A1C5C1F7DB5A800362AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
